
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Style.css" rel="stylesheet" />
</head>
<body>
    <ul>
        <li>@Html.ActionLink("Startsida", "Index", "Home")</li>
        <li>@Html.ActionLink("Mina Filmer", "Index", "Filmer")</li>
        <li>@Html.ActionLink("Lägg till Filmer", "Create", "Filmer")</li>
        <li>@Html.ActionLink("Kontakt", "Index", "Kontakt")</li>
        <li>@Html.ActionLink("Jquery", "Index", "Jquery")</li>
        <li>@Html.ActionLink("Javascript", "Index", "Javascript")</li>

    </ul>
    <div class="kontakt">

        <br />
        <br />
        <br />

        E-mail: Sihe0008@student.hv.se <br /> <br />

        Mobil: 123534543563 <br /> <br />

        Fler kontakt uppgifter kommer inom kort. <br /> <br />

        Fortsatt trevlig dag!



     

    </div>
</body>
</html>
